/*#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
   /*}*/


.gm-style-iw {
   width: 150px;
   height: 100px;
   background-color: #fff;
   text-overflow: ellipsis;
   text-decoration-color: #000;
   border-color: #fff;
}

.hvr-underline-reveal{
  display:inline-block;
  vertical-align:middle;
  -webkit-transform:perspective(1px) translateZ(0);
  transform:perspective(1px) translateZ(0);
  box-shadow:0 0 1px transparent;
  position:relative;
  overflow:hidden}
