#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  position: BOTTOM_LEFT;
  height: 130px;
  width: 138px;
  left:10px;
  border-radius: 2px;
  box-shadow: 1px 2px 1px grey;
  z-index: 5;
}

#legend-Header {
    top: 0px;
    height: 35px;
    background-color: #009d56;
    text-align: center;
    vertical-align: top;
    color: #FFF;
    padding-top: 10px;
    border-radius: 0px;
/*  font-size: 150%;*/
}

#legend-grid{
  margin:20px;
  padding:20px;
}
